<h3>Publications</h3>
<script src="https://bibbase.org/show?bib=https%3A%2F%2Fapi.zotero.org%2Fusers%2F5547450%2Fcollections%2FKYP3WIGT%2Fitems%3Fkey%3D0FxZIDxan0XB1IJwBqRw7Zmy%26format%3Dbibtex%26limit%3D100&jsonp=1"></script>

<h3>Bio for talks</h3>
Kevin Jablonka obtained his Bachelor’s degree in chemistry at TU Munich. He
joined EPFL for his master studies (and an extended studies degree in applied
machine learning), after which he joined Berend Smit’s group for a Ph.D. Kevin’s
research interests are in the digitization of chemistry. For this, he got
involved in the cheminfo ELN ecosystem. He also developed a toolbox for digital
reticular chemistry. Using tools from this toolbox, he addressed questions from
the atom up to the pilot-plant scale.
